
@{
    ViewBag.Title = "Admin";
}

<h2>Admin : @ViewBag.Email</h2>


<ol>
    <li>
        @Html.ActionLink("AssignRole", "AssignRole")
    </li>
    <li>
        @Html.ActionLink("UnAssignRole", "UnAssignRole")
    </li>
    <li>
        @Html.ActionLink("CreateProject", "CreateProject")
    </li>
    <li>
        @Html.ActionLink("EditProject", "EditProject")
    </li>
    <li>
        @Html.ActionLink("ProjectDetails", "ProjectDetails")
    </li>
    <li>
        @Html.ActionLink("ArchiveProject", "ArchiveProject")
    </li>
    <li>
        @Html.ActionLink("MyProjects", "MyProjects")
    </li>
    <li>
        @Html.ActionLink("ArchiveProject", "ArchiveProject")
    </li>
    <li>
        @Html.ActionLink("MyTickets", "MyTickets")
    </li>
    

</ol>
