@model TicketKeeper.Models.UserProject

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>User Of Project</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <h5>Project Title: @ViewBag.ProjectTitle</h5>

        <div class="form-group">
            @Html.LabelFor(model => model.ApplicationUserId, "ApplicationUserId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ApplicationUserId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ApplicationUserId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<h5>All Users Of Project @ViewBag.ProjectTitle</h5>
@foreach (var item in ViewBag.UserWithRoles)
{
    <h5>
        @item.Email : @item.Role
    </h5>
}

<div>
    @Html.ActionLink("Back to List", "MyProjects")
</div>
